mat-card{
    text-align: center;
    height: 5px;
    color: cornflowerblue;
    background-color: rgb(247, 247, 247);
    border:  solid black;
}

.details_sidebar{
    display: flex;
    flex-direction: column;
}



